// INDEX BODY FADE IN w/ lil slide
.intro-container.index, .portfolio-intro, .about-intro {
    animation: forwards 1s ease 1 bodyFade;
    //overflow-y: hidden;
    @keyframes bodyFade {
        from{
            opacity: 0;
            transform: translateX(-10px);
        }
        to{
            opacity: 1;
            transform: translateX(0px) ;
        }
    }
  }

  // reveal animations
// https://alvarotrigo.com/blog/css-animations-scroll/
.reveal{
    position:relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
    z-index: 0; //bottom layer cheese
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .portfolio-item-container.varg, .portfolio-item-container.soundscape{
    animation: forwards 1s ease 1 portItemFade;
    @keyframes portItemFade {
        from{
            opacity: 0;
            transform: translateY(150px);
        }
        to{
            opacity: 1;
            transform: translateY(0px) ;
        }
    }
  }

// SCROLL PROMPT ON PORTF
#scroll-prompt{
    z-index: 1;
    position: fixed;
    bottom: 10%;
    left: 0;
    rotate: 90deg;
    p{
        font-weight: bold;
        margin: 1em;
        display: block;
    }
    .scroll-prompt.end{
        display: none;
    }
    .line{
        background-color: black;
        width: 50px;
        height: 3px;
        position: absolute;
        animation: 3s linear infinite running scrollDown;
    }
    @keyframes scrollDown {
        from {
            opacity: 0;
            transform: translatex(-20px) scaleX(0.1);
        }
        50%{
            opacity: 1;
        }
        to{
            opacity: 0;
            transform: translatex(50px) scaleX(1); //multi right to left
            
        }
    }
}

// LINE SPACER FADE EXPAND
#index-spacer{
    animation: forwards 0.6s linear spacerIn;
    @keyframes spacerIn {
        from {
            opacity: 0;
            transform: scaleX(0);
        }
        to{
            opacity: 1;
            transform: scaleX(1); //multi right to left
            
        }
    }
}