:root {
    --bg-main: #ffffff;
    --bg-dark: #2f3948;
    
    --bg-light-blue: #9DD9D2;
    --bg-orange-dark:#FF8811;
    --bg-orange-light: #F4D06F;
    --bg-green: #0FFF8F;
    --bg-green-light: #78FFAC;
    --dark-blue: #211b33;
    --shadow-grey: #666666;
    --text-white: #ffffff;

    --custom-green: #89ffc8;
    --container-shadow: 2px 2px 6px var(--shadow-grey);
  }
  
  *{
    margin: 0;
    padding: 0;
    //prevents funky padding stretch
    box-sizing: border-box;
  }
  
  body {
    overflow-x: auto;
    overflow-y: scroll;
    min-height: 100vh;
    font-family: "Ubuntu", sans-serif;
    background-color: var(--bg-dark);
    background-image: url(/imgs/icons/star-blue.png );

  }
  
  header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
    background: rgb(71,255,92);
    background: linear-gradient(90deg, var(--bg-green) 0%, rgba(248,255,61,1) 55%, var(--bg-orange-dark) 100%);
    color: var(--text-white);
    box-shadow: var(--container-shadow);

    .underline{
        position: absolute;
        top: 58px;
        height: 3px;
        width: 100px;
        background-color: red;
        :hover{
            transform: translateX(50px, 0);
        }
    }

    #active-page{
        border-bottom-color: var(--text-white);
        border-bottom-style: solid;
    }
    h1{
        color: var(--text-white);
        a,:link, :visited, :hover, :active{
            color: var(--text-white);
            text-decoration: none;
        }
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        //background-color: rgba(99, 99, 99, 0.23);
        border-radius: 10px;
        li{
            list-style: none;
            padding: 1em;
            a{
                color: var(--text-white);
                text-decoration: none;
                //no default looks
                :link, :visited, :hover, :active{
                    text-decoration: none;
                }
            }
            
        }
    }
  }

////////// HOME /////////////

///////// PORTFOLIO ///////////
  section.intro-container{
    visibility: hidden;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    //padding: 2em 0;
    
  }
  section.portfolio-container{
    //width: 100%; //overflowsss
    margin: 1em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    
    .soundscape-container,.varg-container, .twine-container, .portfolio-container{
        margin: 2em;
        padding: 1em;
        display: block;
        //border-style: dashed;
        border-radius: 12px;
        box-shadow: 2px 2px 6px var(--shadow-grey);
        background-color: var(--bg-main);

        justify-content: center;
        align-items: center;
        
        p{
            margin-bottom: 1em;
        }
    }
    .varg-container{
        background-color: var(--bg-green-light);
        img{
            width: 300px;
            box-shadow: var(--container-shadow);
        }
    }
    .soundscape-container{
        img{
            width: 600px;
            box-shadow: var(--container-shadow);
        }
    }
    .portfolio-container{
        background-color: var(--bg-green-light);
        img{
            width: 400px;
            margin: 0 1em;
            box-shadow: var(--container-shadow);
        }
    }
  }
  